.main-container {
  display: flex;
  height: 100vh;
  padding: 20px;
}

.left-side {
  flex: 0.25; /* 25% width for the map on the left */
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-section {
  flex: 0.5; /* 50% width for the performance indicators in the middle */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.right-side {
  flex: 0.25; /* 25% width for the right side tables */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px; /* Add space between the different tables */
}

.performance-container {
  width: 100%; /* Fill the width of the middle section */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Selected EC card at the top */
.selected-ec-card {
  width: 100%;
  background-color: #1d1d1d;
  color: #00ff00; /* Bright color for emphasis */
  text-align: center;
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px; /* Space between SelectedEC and performance indicators */
}

/* Adjust map styling */
.arcgis-map {
  width: 100%;
  height: 100%; /* Ensure the map fills its container */
}
