.App {
  display: flex;
  flex-direction: column;
  background-color: #1d1d1d; /* Set background color */
  min-height: 2000px; /* Ensure the app covers the full height of the viewport */
  color: #ffffff; /* Optional: change text color to white for better contrast */
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure navbar is on top */
}

.page-content {
  margin-top: 70px; /* Offset for the navbar */
  padding: 20px;
  background-color: #1d1d1d; /* Ensure the page content also follows the background */
}
